@charset "UTF-8";

.navegação {
    background-color: #066fc6;
}

.menu_nav {
    margin-left:6vh;
    margin-right:6vh;
}

.navega_menu {
    text-align: center;
}

.apenasLogo{
    height: 100px;
    width: 100px;
}


.sub{
    background-color: #066fc6;
    color: white;
    padding: 6vh;
}

.sub_titulo{
    margin: 6vh 2vh 4vh 3vh;
    color: #0261d6;
    text-align: center;
}

.btnLogoWhats {
    width: 2rem; 
    margin-right: 0.5rem;
}

.Btn{
    background-color: #066fc6;
    border: none ;
    border-radius: 5vh;
    width: 70vh;
    height: 7vh;
    margin: 2vh 2vh 2vh 20vh;
    color: white;
}

.logoFace {
    width: 3vh;
    height: 3vh;
    margin-right: 0.5rem;
}
.formulario {
    background-color: #d9d9d9;
    margin: 2vh 5vh 2vh 5vh;
    border-radius: 5vh;
}

.obj_form{
    margin: 5vh;
    border-radius: 1vh;
    border: none;
    width: 50%;
    height: 7vh;
}

.area_mens{
    display: inline-block;
}

.mensa{
    align-items: center;
    border: none;
    border-radius: 2vh;
    width: 70vh;
    height: 40vh;
}
.rodape{
    margin: 5vh 0 0 0;
}

.lista_rodape {
    list-style: none;
}

.link_rodape {
    text-decoration: none;
    color: white;
}
.img_rodape {
    width: 4vh;
    height: 4vh;
    margin-right: 0.5rem;
}