body {
    margin: 0;
    padding: 0;
    background-color: white;
}

nav {
    width: 100%;
    display: flex;
    position: relative;
    background-color: #3da6f8;
}

nav a {
    color: #fddc02;
    margin: auto 20px auto 40px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #066fc6;
}

nav a img {
    width: 80px;
    height: 80px;
}

nav li {
    float: left;
    list-style: none;
    margin-left: 20px;
}

.linha {
    color: #fddc02;
    width: 100%;
    height: 1px;
}

.titulos{
    color: #0261d6;
    text-align: center;
}

.texto{
    display: flex;
}

.paragrafo{
    margin: 7vh 2vh 5vh 2vh;
    text-align: start;
}

.felix {
    border-radius: 30vh;
    align-items: center;
}

.lista {
    list-style: none;
}

.subtitulo {
    background-color: #066fc6;
    color: white;
    width: 1000vh;
    height: 10vh;
    padding: 2vh;
}

.rodape{
    margin: 5vh 0 0 0;
}

.lista_rodape {
    list-style: none;
}

.link_rodape {
    text-decoration: none;
    color: white;
}

.link_rodape:hover{
    color: black;
}

.img_rodape {
    width: 3vh;
    height: 3vh;
}

.sub{
    background-color: #066fc6;
    color: white;
    padding: 6vh;
}