@charset "UTF-8";

.navegação {
    background-color: #066fc6;
}

.menu_nav {
    margin-left:6vh;
    margin-right:6vh;
}

.navega_menu {
    text-align: center;
}

.apenasLogo{
    height: 100px;
    width: 100px;
}

.sub{
    background-color: #066fc6;
    color: white;
    padding: 6vh;
}

.felix {
    border-radius: 30vh;
}

.titulos{
    color: #0261d6;
}

.linha {
    color: #fddc02;
}

.lista {
    list-style: none;
}

.rodape{
    margin: 5vh 0 0 0;
}

.lista_rodape {
    list-style: none;
}

.link_rodape {
    text-decoration: none;
    color: white;
}
.img_rodape {
    width: 3vh;
    height: 3vh;
}