@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

nav {
    width: 100%;
    display: flex;
    position: relative;
    background-color: #3da6f8;
}

nav a {
    color: #fddc02;
    margin: auto 20px auto 40px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #066fc6;
}

nav a img {
    width: 80px;
    height: 80px;
}

nav li {
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-top: 30px;
}

.subtitulo {
    background-color: #066fc6;
    color: white;
    width: 1000vh;
    height: 10vh;
    padding: 2vh;
}

.sub_titulo{
    margin: 6vh 2vh 4vh 3vh;
    color: #0261d6;
}

.navega_menu {
    text-align: center;
}

.card{
    width: 18rem;
    color: white;
}

.card-title{
    text-align: center;
}

.card_prod {
    margin-left: 22vh;
}

.card-text{
    color: black;
}

.btn{
    background-color: #0261d6;
    color: white;
}

.btn:hover{
    background-color: #3da6f8;
    color: black;
}

.btn-contato{
    margin: 3vh 15vh 3vh 15vh;
    width: 60vh;
}

section button a {
    text-decoration: none;
    color: white;
}

section button a:hover{
    color: black;
}

.btnLogoWhats {
    width: 2rem;
}

.rodape{
    margin: 5vh 0 0 0;
}

.lista_rodape {
    list-style: none;
}

.link_rodape {
    text-decoration: none;
    color: white;
}

.link_rodape:hover{
    color: black;
}

.img_rodape {
    width: 3vh;
    height: 3vh;
}

.sub{
    background-color: #066fc6;
    color: white;
    padding: 6vh;
}